<%- contentFor("body") %>
<div class="container w-50 h-100">
    <div class="row">
        <div class="col s12">
                <form action="/login" method="POST">
                    <input placeholder="E-mail" id="email" name="email" type="email" class="validate" required>
                    <label for="email">E-mail</label>
                    <input placeholder="Password" id="passwd" name="passwd" type="password" class="validate" required>
                    <label for="passwd">Password</label>
                    <br/><br/>
                    <button class="btn waves-effect waves-light" value="submit" type="submit" name="action">Login<i class="lni lni-pointer"></i></button>
            </form>
        </div>
    </div>
</div>
